
/* Pulse
---------------------------------------------------------------------------------------------------- */

@mixin animation-pulse($duration) {
    animation-name: pulse;
    animation-duration: $duration;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
        -webkit-transform:scale(.85);
        -ms-transform:scale(.85);
        transform:scale(.85);

        opacity: 0.75;
    }

    50% {
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        transform:scale(1);

        opacity: 1;
    }

    100% {
        -webkit-transform:scale(.85);
        -ms-transform:scale(.85);
        transform:scale(.85);

        opacity: 0.75;
    }
}

/* Fade In
---------------------------------------------------------------------------------------------------- */

@mixin animation-fade-in($duration) {
    animation-name: fade-in;
    animation-fill-mode: both;
    animation-duration: $duration;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Fade In Down
---------------------------------------------------------------------------------------------------- */

@mixin animation-fade-in-down($duration) {
    animation-name: fade-in-down;
    animation-fill-mode: both;
    animation-duration: $duration;
}

@keyframes fade-in-down {
    0% {
        opacity: 0;

        -webkit-transform: translate(-50%, -60%);
        -ms-transform: translate(-50%, -60%);
        transform: translate(-50%, -60%);
    }

    100% {
        opacity: 1;

        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

/* Fade In Out
---------------------------------------------------------------------------------------------------- */

@mixin animation-fade-in-out($duration) {
    animation-name: fade-in-out;
    animation-duration: $duration;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes fade-in-out {
    0% {
        opacity: 0.75;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.75;
    }
}
