
/* Labels
---------------------------------------------------------------------------------------------------- */

.label {
    background-color: $color-black-light;

    border-radius: 3px;

    position: absolute;

    padding: 5px;

    font-size: 11px;
    line-height: 1;
    color: $color-light-heavy;
    white-space: nowrap;

    opacity: 0;

    transition-duration: 0.25s;
}

/* Icons
---------------------------------------------------------------------------------------------------- */

.icon {
    background-color: $color-black-light;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px;

    width: 64px;
    height: 64px;

    float: left;

    position: relative;

    margin-top: 16px;

    opacity: 0.85;

    &:hover {
        background-color: $color-black-heavy;
        margin-top: 0;
    }

    // Labels: The little fade label above each icon.

    .label {
        background-color: $color-black-heavy;
        top: -64px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    &:hover .label {
        top: -32px;

        opacity: 1;
    }

    // Small: No labels for mobile.

    @media ($break-s) {
        &:hover {
            background-position: center center;
        }

        .label {
            display: none;
        }
    }
}

.icon.email {
    background-image: url(../images/icon-email.png);
}

.icon.instagram {
    background-image: url(../images/icon-instagram.png);
}

.icon.twitter {
    background-image: url(../images/icon-twitter.png);
}
