
// Dark Colors: For the background.

$color-black-light: rgba(0, 0, 0, 0.5);
$color-black-heavy: rgba(0, 0, 0, 0.9);
$color-dark-light: #625f5f;
$color-dark-heavy: #0d1417;

// Light Colors: For the fonts.

$color-light-light: rgba(255, 255, 255, 0.05);
$color-light-normal: rgba(255, 255, 255, 0.65);
$color-light-heavy: rgba(255, 255, 255, 0.85);

// Green Colors: For the timeline.

$color-green-heavy: #5cd685;

// Breakpoints: For responsive design.

$break-s: "max-width: 580px";
$break-m: "max-width: 768px";
