
/* About
---------------------------------------------------------------------------------------------------- */

#about {
    @include animation-fade-in-down(2.5s);

    border-radius: 3px;
    background-color: $color-black-light;
    padding: 25px 50px;
    text-align: center;
    margin: 0 auto;

    position: relative;
    top: 50%;
    z-index: 20;
    max-width: 660px;
    width: 100%;

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    h1 {
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    p {
        margin: 0 0 5px;
    }

    @media ($break-m) {
        border-radius: 0;
        max-width: none;
        padding-left: 25px;
        padding-right: 25px;
    }

    @media ($break-s) {}
}
