
/* About
---------------------------------------------------------------------------------------------------- */

#about {
    @include animation-fade-in-down(2.5s);

    border-radius: 3px;
    background-color: $color-black-light;
    padding: 25px 50px;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 20;

    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    h1 {
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    p {
        margin: 0 0 5px;
    }

    @media ($break-m) {
        // width: 50%;

        // left: 5%;

        p {
            // margin-left: 5%;
        }
    }

    @media ($break-s) {
        padding-left: 25px;
        padding-right: 25px;
        // width: 45%;

        // left: 8%;

        p {
            // margin-left: 0;
            // margin-bottom: 30px;
        }
    }
}
