
/* Social
---------------------------------------------------------------------------------------------------- */

#social {
    @include animation-fade-in(2.5s);

    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 20;

    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);

    & > :first-child {
        border-top-left-radius: 3px;
    }

    & > :last-child {
        border-top-right-radius: 3px;
    }

    @media ($break-m) {
        // width: 50%;

        // left: 5%;
    }

    @media ($break-s) {
        // width: 45%;

        // left: 8%;
    }
}
