/* Normalization
---------------------------------------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
body {
  width: 100%;
  height: 100%; }

*,
*:before,
*:after {
  box-sizing: border-box; }

a,
a img,
a:before,
a:after {
  text-decoration: none;
  transition-duration: .25s; }

button:focus {
  outline: 0; }

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

* {
  -webkit-tap-highlight-color: transparent; }

*:before,
*:after {
  content: ''; }

video::-webkit-media-controls-start-playback-button {
  display: none !important; }

/* Pulse
---------------------------------------------------------------------------------------------------- */
@keyframes pulse {
  0% {
    -webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
    opacity: 0.75; }
  50% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
    opacity: 0.75; } }
/* Fade In
---------------------------------------------------------------------------------------------------- */
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* Fade In Down
---------------------------------------------------------------------------------------------------- */
@keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -60%);
    -ms-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); } }
/* Fade In Out
---------------------------------------------------------------------------------------------------- */
@keyframes fade-in-out {
  0% {
    opacity: 0.75; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.75; } }
/* Typography
---------------------------------------------------------------------------------------------------- */
body {
  font-family: "Libre Baskerville", serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  color: rgba(255, 255, 255, 0.65); }

h1 {
  font-size: 700%;
  font-weight: 700;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.85);
  margin-bottom: 25px; }

a {
  color: rgba(255, 255, 255, 0.85); }

@media (max-width: 580px) {
  body {
    font-size: 14px; }

  h1 {
    font-size: 38px;
    line-height: 1.45; } }
/* Labels
---------------------------------------------------------------------------------------------------- */
.label {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  position: absolute;
  padding: 5px;
  font-size: 11px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.85);
  white-space: nowrap;
  opacity: 0;
  transition-duration: 0.25s; }

/* Icons
---------------------------------------------------------------------------------------------------- */
.icon {
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px;
  width: 64px;
  height: 64px;
  float: left;
  position: relative;
  margin-top: 16px;
  opacity: 0.85; }
  .icon:hover {
    background-color: rgba(0, 0, 0, 0.9);
    margin-top: 0; }
  .icon .label {
    background-color: rgba(0, 0, 0, 0.9);
    top: -64px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  .icon:hover .label {
    top: -32px;
    opacity: 1; }
  @media (max-width: 580px) {
    .icon {
      background-size: 16px;
      width: 48px;
      height: 48px; }
      .icon:hover {
        background-position: center center; }
      .icon .label {
        display: none; } }

.icon.email {
  background-image: url(../images/icon-email.png); }

.icon.instagram {
  background-image: url(../images/icon-instagram.png); }

.icon.twitter {
  background-image: url(../images/icon-twitter.png); }

/* Background Color
---------------------------------------------------------------------------------------------------- */
body {
  background-color: #0d1417; }

/* Work: Will become a full timeline for previous work as well.
---------------------------------------------------------------------------------------------------- */
#work {
  animation-name: fade-in;
  animation-fill-mode: both;
  animation-duration: 5s;
  width: 21px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 20; }
  #work:after {
    background-color: rgba(255, 255, 255, 0.05);
    width: 1px;
    height: calc(100% - 12px);
    position: absolute;
    top: 6px;
    right: 10px; }

.work {
  border-radius: 3px 15px 15px 3px;
  height: 21px;
  float: right;
  position: relative;
  z-index: 30;
  padding-right: 30px;
  font-size: 12px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.05);
  white-space: nowrap; }
  .work:not(:last-of-type) {
    padding-bottom: 40px; }
  .work:nth-child(1) {
    color: rgba(255, 255, 255, 0.65); }
  .work:hover {
    color: rgba(255, 255, 255, 0.85); }
  .work:before {
    background-color: #625f5f;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    position: absolute;
    top: 7px;
    right: 7px; }
  .work:after {
    border: 2px solid rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    width: 21px;
    height: 21px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0; }
  .work:hover:not(:nth-child(1)):after {
    opacity: 1; }
  .work:nth-child(1):after {
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    border-color: #5cd685; }
  .work .label {
    right: 122px; }
  .work:nth-child(1) .label, .work:hover .label {
    right: 112px;
    opacity: 1; }
  @media (max-width: 768px) {
    .work {
      display: none; } }

/* About
---------------------------------------------------------------------------------------------------- */
#about {
  animation-name: fade-in-down;
  animation-fill-mode: both;
  animation-duration: 2.5s;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 20;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  #about h1 {
    margin-bottom: 10px;
    text-transform: uppercase; }
  #about p {
    margin: 0 0 5px; }
  @media (max-width: 580px) {
    #about {
      padding-left: 25px;
      padding-right: 25px; } }

/* Social
---------------------------------------------------------------------------------------------------- */
#social {
  animation-name: fade-in;
  animation-fill-mode: both;
  animation-duration: 2.5s;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 20;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }
  #social > :first-child {
    border-top-left-radius: 3px; }
  #social > :last-child {
    border-top-right-radius: 3px; }

/* The Profile
---------------------------------------------------------------------------------------------------- */
#profile {
  animation-name: fade-in;
  animation-fill-mode: both;
  animation-duration: 10s;
  animation-name: fade-in-out;
  animation-duration: 2.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  background-image: url(../images/unsplash/bb9jwutmpuk-anthony-indraus.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10; }

/*# sourceMappingURL=site.css.map */
